# --- DATABASE ---
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=change-me
DB_USERNAME=change-me
DB_PASSWORD=change-me

SPRING_DATASOURCE_URL=jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_DATABASE}

# --- EMAIL ---
EMAIL_USERNAME=change-me
EMAIL_PASSWORD=change-me

# --- SECURITY ---
CORS_ORIGIN_PATTERNS=change-me
JWT_SECRET=change-me    # generate with "openssl rand -base64 32"
JWT_EXPIRE=3600
JWT_REFRESH_EXPIRE=604800
SEED_ADMIN_PASSWORD=change-me
